body {
    background: #000000;
    /* border: 2px solid yellow; */
}

.top {
    background: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 900;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.027);
    border-radius: 20px;
    width: 100%;
}
.top img {
    height: 5%;
    width: 5%;
    align-self: right;
    margin-left: auto;
    padding: 5px;
    color: rgb(255, 255, 255);
}

#logo_container{
    margin-left: 15px;
    /* height: 30px; */
    border: 2px solid rgb(255, 255, 255);
    padding: 2px;
    border-radius: 40px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    
}
h1{
  font-size: 30px
}
#logo:hover{
    border: 2px solid #fca311;
}
.menu{
    display: flex;
    height: 30px;
    background: #be5050;
    justify-content: center;
    align-items: center;
    width: 30px;
    /* border: 2px solid white; */
    border-radius: 50%;
    right:10px;
    /* right: 5px; */
    position: absolute;
    background-size: cover;
}
.menu:hover {
    transform: scale(1.2);
    color: yellow
    /* border: 2px solid #fca311; */
}
#notch_left, #notch_right{
    background: rgba(0, 0, 0, 0.446);
    height: 20px;
    width: 150px;
    margin-left: 2px;
    border-radius: 10px;
}
#notch_center{
    height: 22px;
    background: white;
    width: 22px;
    margin-left: 2px;
    border-radius: 50%;
    /* display: flex; */
    align-items: center;
    justify-content: center;

}
#notch_center:hover{
    transform: scale(1.2);
    background: yellow;
}

#eye{
    margin: 10px 0px 0px 2px;
    position: relative;
    height: 5px;
    width: 16px;
    background: rgb(255, 255, 255);
    bottom: 4px;
    align-items: center;
    justify-content:space-between;
    display: flex;
}
#eye_left, #eye_right{
    padding: 0px 1px 0px 1px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
}
#mouth{
    height: 12px;
    width:7px;
    background: red;
    align-items: center;
    margin: 0px 10px 0px 7px;
    overflow: hidden;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 2px solid yellow;
    

}

.txt_img_container{
    display: flex;
    /* border: 2px solid red; */
    width: 99%;
    min-width: 90%;
    height: 500px;
    background: #000000;
    justify-content: space-between;
    font-family: 'poppins';
    position: relative;
    margin: 0px 0px 0px 5px;
}
.my_image{
  display: flex;
  margin: 0px 0px 0px 0px;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  background: #000000;
  padding: 0px 0px 0px 0px;
  z-index: 1;
}
.img_container{
  background-image: url("bg4.png");
  background-size: cover;
  height:400px;
  width: 300px;
  padding: 5px;
  margin: 1% 0px 0px 45vw;
  transform-box: opacity 2s;
  /* border-radius: 50%; */
}
.img_container:hover{
    transition: opacity 3s;
    opacity: 0.2;
}
.main_text{
  height:50%;
  width: 70%;
  max-width: 300px;
  /* max-width: 400px; */
  background:transparent;
  position: absolute;
  /* border: 2px solid white; */
  margin: 8% 0px 5px 1%;
  z-index: 2;
  /* overflow:visible; */
}
.hire_button{
    height: 29px;
    width: 200px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    margin: 50px 0px 0px 0px;
    align-items: center;
    justify-content: space-between;
}
button{
    padding: 2px;
    height: 27px;
    font-size: 8px;
    width: 95px;
    margin: 0px 20px 0px 0px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    transition: transform 0.4s;
}
button:hover{
    transform: scale(1.1);
}
#button_in_blue{
    background: skyblue;
}
#button_in_orange{
    background: orange;
}
.main_text_heading{
       background:#ff0000;
    margin: 5px 10px 10px 20px;
    color: #000000;
    transition: transform 0.5s;
}
.main_text_heading:hover{
    color: white;
    transform: scale(1.2)
}

.main_text_body{
    background: transparent;
    color: white;
    margin: 25px 1px 10px 20px;
    padding: 3px;
    font-family: 'Courier New';
    line-height: 34px;
}
span{
    color: red;
}
.main_text_body:hover{
    color: #fca311;
}
#projects_text{
    color: white;
    font-family: 'poppins';
    margin-left: 10px;
}
#underline{
    width: 95px;
    height: 2px;
    background: #ffffff;
}
footer{
  margin: 40px 0px 0px 0px;
  display: flex;
  /* position: fixed; */
  bottom: 0px;
  background: #14213d;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
}
.bottom_block{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgb(0, 0, 0);
    margin: 20px 0px 0px 0px;
}
.box{
    padding: 5px 0px 0px 0px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    height: 80%;
    width: 15%;
    border-radius: 3px;
    margin: 0px 4px 0px 4px;
    transition: transform 0.5s;
}
.box:hover{
    transform: scale(1.1);
}
.box_content{
    display: flex;
}
.box_content_heading{
    background: rgb(0, 0, 0);
    margin: 0px 0px 3px 3px;
    color: rgb(26, 255, 0);
    font-family: 'Courier new';
}
.box_content_body{
    font-size: 12px;
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px 0px 0px 3px;
    font-family: 'poppins';
}